{{! SP CUSTOMIZATION - ENTIRE FILE }}

<div class='container'>
  <div class='contents clearfix'>

    
    <a class="logomark" href="/" tabindex="">
      <img src="http://198.245.50.36/iconified/apple-touch-icon-76x76.png" width="60px" height="60px" alt="logo">
      
    </a>

    <div class='panel clearfix'>
      {{#unless currentUser}}
        <button {{action showLogin}} class='btn btn-primary btn-small login-button'>
          {{fa-icon user}} {{i18n log_in}}
        </button>
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          <li class='notifications'>
            <a class='icon' href="#" {{action showNotifications target="view"}} data-notifications="notifications-dropdown" id='user-notifications' title='{{i18n notifications.title}}'>
              {{fa-icon comment label="notifications.title"}}
            </a>
            {{#if currentUser.unread_notifications}}
              <a href='#' class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href='#' class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          </li>
        {{/if}}
        <li>
          {{#if Discourse.loginRequired}}
            <a id='search-button' class='icon expand' href='#' aria-hidden="true" {{action showLogin}}>
              {{fa-icon search}}
            </a>
          {{else}}
            <a id='search-button'
               class='icon expand'
               href='#'
               data-dropdown="search-dropdown"
               title='{{i18n search.title}}'>
               {{fa-icon search label="search.title"}}
            </a>
          {{/if}}
        </li>
        <li class='categories dropdown'>
          {{#if Discourse.loginRequired}}
            <a class='icon'
               href="#"
               aria-hidden="true"
               {{action showLogin}}>
               {{fa-icon bars}}
            </a>
          {{else}}
            <a class='icon'
               data-dropdown="site-map-dropdown"
               data-render="renderSiteMap"
               href="#"
               title='{{i18n site_map}}'
               id="site-map">
               {{fa-icon bars label="site_map"}}
            </a>
          {{/if}}
          {{#if currentUser.site_flagged_posts_count}}
            <a href='/admin/flags/active' title='{{i18n notifications.total_flagged}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
          {{/if}}
        </li>
        {{#if currentUser}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='{{i18n user.avatar.title}}'
               id="current-user">
                 {{bound-avatar currentUser "medium"}}
            </a>
          </li>
        {{/if}}
      </ul>

      {{render "search"}}

      {{render "notifications" notifications}}

      {{#if view.renderSiteMap}}
        {{render "siteMap"}}
      {{/if}}

      {{render "user-dropdown"}}

    </div>

    {{#unless showExtraInfo}}
      <div class="header-links-wrapper clearfix">
        <a tabindex="" class="header-link" target="_blank"href="https://www.facebook.com/groups/swanseagaming/">Facebook</a>
        <a tabindex="" class="header-link" target="_blank" href="https://twitter.com/SwanseaGaming">Twitter</a>
        <a tabindex="" class="header-link" target="_blank" href="http://steamcommunity.com/groups/swanseagamingsociety">Steam</a>
        <a tabindex="" class="header-link" target="_blank" href="http://sugaming.co.uk/t/about-the-gaming-society">Info</a>
      </div>
    {{/unless}}

    {{#if showExtraInfo}}
      <div class="extra-info-wrapper">
        <div {{bind-attr class=":extra-info hasCategory"}}>
          <div class="title-wrapper">
            <h1>
              {{#if showPrivateMessageGlyph}}
                <span class="private-message-glyph">{{fa-icon envelope}}</span>
              {{/if}}

              {{#if topic.details.loaded}}
                {{#if showStarButton}}
                  <a {{bind-attr class=":star topic.starred:starred"}} {{action "toggleStar"}} href='#' {{bind-attr title="topic.starTooltip"}}></a>
                {{/if}}
                {{topic-status topic=topic}}
                <a class='topic-link' href='{{unbound topic.url}}' {{action "jumpToTopPost"}}>{{{topic.fancy_title}}}</a>
              {{else}}
                {{#if topic.errorLoading}}
                  <span class="error">{{topic.errorTitle}}</span>
                {{else}}
                  <span class="loading">{{i18n topic.loading}}</span>
                {{/if}}
              {{/if}}
            </h1>
            {{#if topic.category.parentCategory}}
              {{! SP }}{{bound-category-link topic.category.parentCategory}}{{! /SP }}
            {{/if}}
            {{! SP }}{{bound-category-link topic.category}}{{! /SP }}
            {{! SP }}
            {{#if topic.tags}}
             <div class="tagger-tags-view">
              <span>Tags:</span>
                {{#each topic.tags}}
                  <a href="/tag/{{unbound this}}" class="tagger-tag btn">{{this}}</a>
                {{/each}}
            </div>
            {{/if}}
            {{!/SP}}
          </div>
        </div>
      </div>
    {{/if}}

  </div>
</div>
